/*CSS BY DYLAN DONOHUE*/
/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*CSS RESET*/
/*ROOT VARIABLES*/
body{
    background-color: faf9f6;
    justify-content:center;
    align-content: center;
}
header, footer{
    background-color:#1F2A44 ;
}
.card{
    background-color: #76885B;
}
h1{
    font-family:playfair display;
    color: #faf9f6;
    font-weight: bold;
    font-size: 10vw;
}

h3{
    font-family:playfair display;
    color: #faf9f6;
    font-style: italic;
    font-weight: lighter;
}
hr{
    color: #e5C185;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #e5C185;
    align-items: center;
   
}
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 0 15px;
  font-family:playfair display;
  font-weight: bold;
}

.nav-links a {
  color: #2B2B2B;
  text-decoration: none;
  font-size: 18px;
}
.aboutus{
    color: #2B2B2B;
    background-color: #faf9f6;
    
}
.card{
    background-color: #76885B;
    color:#FAF9F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
#fieldandfeast{
        grid-column: 1/-1;
}

#gallery .card{
    background:#FAF9F6;
    color: #2B2B2B;
    overflow: hidden;
    padding: 0;
}
.card img{
    width: 100%;
    display:block;
}
#gallery .card p{
    font-style: italic;
    text-align: center;
}
@media screen and (min-width:600px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:900px){
    #gallery .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width:1200px){
    #gallery .grid-container{
        grid-template-columns: repeat(5,1fr);
    }
}